@font-face {
    font-family: Font-Regular;
    src: url('Font/Roboto-Regular.ttf');
    font-family: Font-Bold;
    src: url('Font/Roboto-Bold.ttf')
  }

body{
    font-family: Font-Regular, 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: #EDEFED;
}
.text-center{
    letter-spacing: .6px;
    color: #181B21;
    padding-left: 2em;
}
.login-form {
        width: 340px;
        margin: 50px auto;
    }

.erreur{
    text-align: center;
    margin:10px;
}

input{
    line-height: 2em;
}

.login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

.login-form h2 {
    margin: 0 0 15px;
    }

.btn {
        min-height: 38px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: bold;
    }

.container{
    margin: auto;
    max-width: 1200px;
    
}

#containerConnect{
    text-align: center;
    
}

#containerConnect a{
    color: black;
   
}

#containerConnect a:visited{
    color: black;
}

.containerInsc{
    display: block;
    max-width: 530px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.colonneText{
    max-width: 332px;
    margin: 0 auto 0 auto;
    padding: var(--tds-size--2x) 0;
    text-align: center;
}

.formInscription{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.ChampsMail{
    --tds-form-item--indent: 20px;
    --tds-from-item--grid-template-areas: "label" "caption" "input" "feedback";
    display: grid;
    grid-template-areas: var(--tds-from-item--grid-template-areas);
    inline-size: 100%;
    position: relative;
}

.ChampsMailText{
    display: flex;
    grid-area: label;
    text-align: start;
}

.ChampsMailLabelText{
    grid-area: label-text;
    display: inline-block;
    transition: color .33s ease;
    padding: 20px 0px 7px 0px;
    color: #595B5F;
    font-weight: bold;
}

#inputChamps {
    padding-inline-start: var(--tds-form-item--indent);
    border-radius: 45px;
    height: 40px;
    background-color: #D3D8D3;
    border: none;
}


#ChampsInsc{
    display: grid;
}

.form-group{
    margin-top: 2em;
}

#btnInsc{
    transition: all 0.5s ease;
    margin: 5px 0 5px 0;
    padding-inline-start: var(--tds-form-item--indent);
    border-radius: 45px;
    height: 40px;
    width: 100%;
    background-color: #D3D8D3;
    color: #595B5F;
    cursor: pointer;
    border: 3px solid #F19324;
}

#btnInsc:hover{
    background-color: #F19324;
    color: #D3D8D3;
}


.grille{
    max-width: 1200px;
    min-width: 600px;
    padding-top: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px 25px; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
    justify-items: center;
}

#Card{
    padding: 5px;
}

#TitreGrille{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #272932;
}

#TexteGrille{
    text-align: justify;
    font-size: 13px;
}

#DateGrille{
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
    background-color: #272932;
    }

#titreSite {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #f7f7f7;
    font-size: 18px;
    font-family: Font-Bold;
    text-decoration: none;
    }

#titreSite a:visited{
    color: #f7f7f7;
    text-decoration: none;
}

#recherche {
    display: flex;
    flex: 0 1 728px;
    min-width: 0px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    }

#site-search, #site-search::placeholder {
    margin-right: 7px;
    width: 300px;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid #4B4F60;
    box-sizing: border-box;
    background-color: #131418;
    color: #f7f7f7;
    margin: 5px 0px;
    height: 40px;
}

#btSearch {
    border: 1px solid var(--ytd-searchbox-legacy-button-border-color);
    background-color: var(--ytd-searchbox-legacy-button-color);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 40px;
    width: 75px;
    margin: 0;
    color:#f7f7f7
}

#connecter, #connecter:visited{
    min-width: 200px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: #f7f7f7;
    }

#connecter a:visited{
    min-width: 200px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: #f7f7f7;
}